<div class="desk-select">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <ng-container *ngIf="!loading">
    <ng-container *ngIf="desks.length > 0; else noDesks">
      <mat-form-field
        appearance="fill"
        class="library-select"
        style="width: 100%"
      >
        <mat-label>Select a Circulation Desk</mat-label>

        <!-- Always show a mat-select, matching the Library selector -->
        <mat-select
          [value]="selectedDesk"
          (selectionChange)="onDeskChange($event.value)"
        >
          <mat-option *ngFor="let d of desks" [value]="d.code">
            {{ d.name }} ({{ d.code }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Optional: show what’s selected -->
      <div *ngIf="selectedDesk" class="selected-info">
        <!-- <p>You selected: <strong>{{ selectedDesk }}</strong></p> -->
      </div>
    </ng-container>

    <ng-template #noDesks>
      <p>No circulation desks found for this library.</p>
    </ng-template>
  </ng-container>
</div>
